label{
  font-size: 18px;
  display: block;
}
.conflict-label{
  background: #FFF;
  color: #ca0909;
  text-align: center;
  padding: 5px;
  border: 6px solid #ca0909;
  &.none{
    background: #FFF;
    color: #43a512;
    border: 6px solid #fff;
  }
}