.bg-main{
  background: #2f8a2f !important;
}
.bg-flat{
  background: #171784 !important;
}
.bg-studio{
  background: #751414 !important;
}

.c-main{
  color: #2f8a2f;
}
.c-flat{
  color: #171784;
}
.c-studio{
  color: #751414;
}
#root{
  padding-bottom: 100px;
}